/* --------   Шрифты   -------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: "Helvetica Medium";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/Helvetica/HelveticaMedium/HelveticaMedium.woff');
}

@font-face {
	font-family: "Helvetica Bold";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/Helvetica/HelveticaBold/HelveticaBold.woff');
}

@font-face {
	font-family: "Helvetica Regular";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff');
}

@font-face {
	font-family: "Helvetica Semibold";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.woff');
}

@font-face {
	font-family: "Helvetica Light";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/Helvetica/HelveticaLight/HelveticaLight.woff');
}
